#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/    
#
# Klipper Configurations - Flsun Super Racer
# Version 3.0
#
# Guislain Cyril


########################################
# Firmware Settings
########################################

# BigTreeTech SKR 2.0

# Warning: There are 2 versions of SKR 2.0 motherboard!

# Firmware configuration with "make menuconfig" for SKR 2.0 Rev A (STM32F407) :
#
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32F407)  --->
#     Bootloader offset (32KiB bootloader)  --->
#     Clock Reference (8 MHz crystal)  --->
#     Communication interface (USB (on PA11/PA12))  --->
#     USB ids  --->
# ()  GPIO pins to set at micro-controller startup (NEW)
#
#
# Firmware configuration with "make menuconfig" for SKR 2.0 Rev B (STM32F429) :
#
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32F429)  --->
#     Bootloader offset (32KiB bootloader)  --->
#     Clock Reference (8 MHz crystal)  --->
#     Communication interface (USB (on PA11/PA12))  --->
#     USB ids  --->
# ()  GPIO pins to set at micro-controller startup (NEW)
#
#
# Note that the "make flash" command does not work with this board.
# Rename the file out/klipper.bin to firmware.bin, copy it an microSD 
# card, insert it in the printer and restart it.


########################################
# Editable Settings
########################################

# Notes: Some settings can be enabled or disabled by removing or adding the '#' symbol
#
# PID (pid_Kp, pid_Ki, pid_Kd) --> [extruder] and [heater_bed] sections
# E-Steps Extruder (rotation_distance) --> [extruder] section --> <rotation_distance> = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# Pressure Advance (pressure_advance) --> [extruder] section -- See: https://www.klipper3d.org/Pressure_Advance.html
# Firmware Retraction --> [firmware_retraction] section -- Requires "Klipper Settings Plugin" for Cura -- See: https://github.com/jjgraphix/KlipperSettingsPlugin
# ADXL345 function for resonance testing --> Enable/Disable [include adxl345_pico.cfg] or [include adxl345_fysetc.cfg] -- Configuration in [input_shaper] section -- See: https://www.klipper3d.org/Measuring_Resonances.html
# NeoPixels macros --> Enable/Disable [include neopixels.cfg]
# Timelapse function --> Enable/Disable [include timelapse.cfg]


########################################
# Included Files
########################################

[include macros.cfg]
#[include adxl345_pico.cfg]  #Enable if you want to use ADXL with Rapsberry Pi Pico
#[include adxl345_fysetc.cfg]  #Enable if you want to use ADXL with Fysetc Portable Input Shaper
#[include timelapse.cfg]  #Enable if you want to use Timelapse
#[include neopixels.cfg]  #Enable if you want to use some Neopixels macros


########################################
# Printer Settings
########################################

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3700
minimum_cruise_ratio: 0.5
square_corner_velocity: 5
max_z_velocity: 100
max_z_accel: 1500
minimum_z_position: -25
print_radius: 132
delta_radius: 151.7


########################################
# X Stepper Motor & Driver Settings
########################################

[stepper_a]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
homing_speed: 50
homing_retract_dist: 5.0
homing_retract_speed: 10
angle: 210
position_endstop: 336
arm_length = 315

[tmc2209 stepper_a]
uart_pin: PE0
run_current: 1.138
hold_current: 0.5
stealthchop_threshold: 999999


########################################
# Y Stepper Motor & Driver Settings
########################################

[stepper_b]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
angle: 330

[tmc2209 stepper_b]
uart_pin: PD3
run_current: 1.138
hold_current: 0.5
stealthchop_threshold: 999999


########################################
# Z Stepper Motor & Driver Settings
########################################

[stepper_c]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
angle: 90

[tmc2209 stepper_c]
uart_pin: PD0
run_current: 1.138
hold_current: 0.5
stealthchop_threshold: 999999


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 7.805
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
min_temp: -5
max_temp: 275
max_extrude_cross_section: 110 
max_extrude_only_distance: 1100
#pressure_advance: 0.04
#pressure_advance_smooth_time: 0.01
control = pid
pid_kp = 18.240
pid_ki = 0.558
pid_kd = 149.109

[tmc2209 extruder]
uart_pin: PC6
run_current: 1.1
hold_current: 0.5
stealthchop_threshold: 999999


########################################
# Bed Settings
########################################

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
min_temp: -5
max_temp: 115
control = pid
pid_kp = 71.041
pid_ki = 1.422
pid_kd = 887.123


########################################
# Filament Sensor Settings
########################################

[filament_switch_sensor filament_sensor] #PIN E0DET
pause_on_runout: True
runout_gcode: M600
switch_pin: PC2


########################################
# Fans Settings
########################################

[fan] #Ventilateurs de refroidissement d'impression (FAN0)
pin: PB7

[heater_fan Hotend] #Ventilateur Hotend (HE1)
pin: PB4
heater_temp: 50.0


########################################
# Probe Settings
########################################

[probe] #PIN E1DET
pin: !PA0
x_offset: 0
y_offset: 0
z_offset: 0
speed: 10
lift_speed: 50
samples: 3
samples_result: average
sample_retract_dist: 6
samples_tolerance: 0.02
samples_tolerance_retries: 5


########################################
# Delta Calibration & Mesh Settings
########################################

[delta_calibrate]
radius: 130
horizontal_move_z: 30
speed: 100

[bed_mesh]
speed: 100
horizontal_move_z: 30
mesh_radius: 130
mesh_origin: 0,0
mesh_pps: 4,4
round_probe_count: 9
algorithm: bicubic
bicubic_tension: 0.1
move_check_distance: 3
#fade_start: 1
#fade_end: 30


########################################
# Temperature Controls
########################################

[verify_heater extruder]
max_error: 160
heating_gain: 1

[verify_heater heater_bed]
max_error: 120
heating_gain: 1


########################################
# Firmware Retraction Settings
########################################

[firmware_retraction]
retract_length: 6.5
retract_speed: 35
unretract_extra_length: 0.05
unretract_speed: 35


########################################
# Input Shaper Settings
########################################

[input_shaper]
shaper_freq_x: 25.00
shaper_type_x = mzv
shaper_freq_y: 23.29
shaper_type_y = mzv


########################################
# G-Code Macros & Events
########################################

[idle_timeout]
timeout: 1800

[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_arcs]
resolution: 0.1

[pause_resume]

[display_status]

[respond]

[exclude_object]

[virtual_sdcard]
path: ~/printer_data/gcodes

[endstop_phase stepper_a]
endstop_align_zero: false

[endstop_phase stepper_b]
endstop_align_zero: false

[endstop_phase stepper_c]
endstop_align_zero: false 


########################################
# MCU Settings
########################################

[mcu]
serial: XXXXX
restart_method: command

[temperature_sensor Speeder_Pad]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Motherboard]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[output_pin motor_powersupply]
pin: PC13
value: 1


########################################
# LED Settings
########################################

#[neopixel NeoPixels]
#pin: PE6
#chain_count: 34
#color_order: GRB
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0
