#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/    
#
# Klipper Configurations - Flsun V400       
#
# Guislain Cyril - Version 1.1

# MKS Robin Nano V2
# When running "make menuconfig"
#
#[*] Enable extra low-level configuration options
#Micro-controller Architecture (STMicroelectronics STM32)
#Processor model (STM32F103)
#Bootloader offset (28KiB bootloader)
#Clock Reference (8 MHz crystal)
#Communication interface (Serial (on USART3 PB11/PB10))
#
# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin to an microSD card, 
# insert it in the printer and restart it.


########################################
# Included Files
########################################

[include macros.cfg]
#[include adxl345.cfg]  #Enable if you want to use ADXL
[include timelapse.cfg]  #Enable if you want to use Timelapse


########################################
# Printer Settings
########################################

[printer]
kinematics: delta
max_velocity: 400
max_accel: 8000
max_accel_to_decel: 5000
square_corner_velocity: 5
max_z_velocity: 400
print_radius: 152
minimum_z_position: -5  #Set to '-5' before a Delta Calibration and to '0' after a Delta Calibration
delta_radius: 152


########################################
# X Stepper Motor & Driver Settings
########################################

[stepper_a]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 128
rotation_distance: 40
endstop_pin: ^PA15
homing_speed: 50
homing_retract_dist: 5.0
homing_retract_speed: 10
angle: 210
position_endstop: 415.0
arm_length = 345.0

[tmc2209 stepper_a]
uart_pin: PD5
run_current: 1.5
stealthchop_threshold: 999999
interpolate: false


########################################
# Y Stepper Motor & Driver Settings
########################################

[stepper_b]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 128
rotation_distance: 40
endstop_pin: ^PA12
angle: 330

[tmc2209 stepper_b]
uart_pin: PD7
run_current: 1.5
stealthchop_threshold: 999999
interpolate: false


########################################
# Z Stepper Motor & Driver Settings
########################################

[stepper_c]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 128
rotation_distance: 40
endstop_pin: ^PC4
angle: 90

[tmc2209 stepper_c]
uart_pin: PD4
run_current: 1.5
stealthchop_threshold: 999999
interpolate: false


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 4.5
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: -5
max_temp: 315
max_extrude_cross_section: 50
max_extrude_only_distance: 800
pressure_advance: 0.02
control = pid
pid_kp = 17.501
pid_ki = 0.711
pid_kd = 107.630

[tmc2209 extruder]
uart_pin: PD9
run_current: 0.707
stealthchop_threshold: 999999
interpolate: false


########################################
# Bed Settings
########################################

[heater_bed]
heater_pin: PA0
sensor_pin: PC0
sensor_type: EPCOS 100K B57560G104F
min_temp: -5
max_temp: 120
control = pid
pid_kp = 64.044
pid_ki = 3.812
pid_kd = 268.984


########################################
# Filament Sensotr Settings
########################################

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode: M600
switch_pin: PA4


########################################
# Fans Settings
########################################

[fan]
pin: PB1

[heater_fan Hotend] 
pin: PB0
heater_temp: 50.0


########################################
# Probe Settings
########################################

[probe]
pin: !PA11
x_offset: 0
y_offset: 0
z_offset: 16
speed: 10
lift_speed: 50
samples: 3
samples_result: average
sample_retract_dist: 3
samples_tolerance: 0.02
samples_tolerance_retries: 5


########################################
# Delta Calibration & Mesh Settings
########################################

[delta_calibrate]
radius: 145
horizontal_move_z: 20
speed: 50

[bed_mesh]
speed: 80
horizontal_move_z: 20
mesh_radius: 145
mesh_origin: 0,0
round_probe_count: 9
algorithm: bicubic


########################################
# Temperature Controls
########################################

[verify_heater extruder]
max_error: 500
hysteresis: 20

[verify_heater heater_bed]
max_error: 120
hysteresis: 5


########################################
# Input Shaper Settings
########################################

[input_shaper]
shaper_freq_x: 34.78
shaper_freq_y: 31.68


########################################
# G-Code Macros & Events
########################################

[idle_timeout]
timeout: 1800

[save_variables]
filename: ~/savedVariables.cfg

[gcode_arcs]

[pause_resume]

[display_status]

[respond]

[virtual_sdcard]
path: ~/gcode_files

[endstop_phase stepper_a]
endstop_align_zero: false

[endstop_phase stepper_b]
endstop_align_zero: false

[endstop_phase stepper_c]
endstop_align_zero: false 


########################################
# MCU Settings
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor Speeder_Pad]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Motherboard]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


########################################
# LED Settings
########################################

[output_pin LED_Hotend]
pin: PE12
pwm: False
value: 0

[output_pin LED_Logo]
pin: PD11
pwm: False
value: 1
